*,
*::before,
*::after {
  /* border-box prevents content inside parent window container from spilling outside of parent container */
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00ff4c, #b700ff);
}

.calculator-grid {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(110px, auto) repeat(5, 90px);
}
