*,
*::before,
*::after {
  /* box-sizing:  sets how the total width and height of an element is calculated
  border-box: The width and height properties include the content, padding, and border, but do not include the margin. */
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00ff4c, #b700ff);
}

.calculator-grid {
  display: grid;
  margin-top: 30px;
  /* changes the width of the column. 4 different columns w/ width of 100px each */
  grid-template-columns: repeat(4, 100px);
  /* changes the height of the row (boxes) 110px will be height of top row boxes  */
  /* we repeat the process with 5 more rows that are 90px in height each  */
  grid-template-rows: minmax(110px, auto) repeat(5, 90px);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(1, 1, 1, 0.698);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  /* word-wrap: Allow long words to be able to break and wrap onto the next line */
  word-wrap: break-word;
  /* word-break: sets whether line breaks appear wherever the text would otherwise overflow its content box.  */
  word-break: break-all;
}

.previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
}

.current-operand {
  color: rgba(255, 255, 255);
  font-size: 35px;
}
